<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.mrsc.officialsdirectory"
    versionCode = "10"
    version     = "1.0.0" >

  <!-- versionCode is optional and Android only -->

  <name>MRSC Officials Directory</name>

  <description>
    This is a directory of Washington city and town information and officials
  </description>

  <author href="http://www.mrsc.org" email="dedlin@mrsc.org">
    Don Edlin
  </author>

  <icon src="icon.png" />

  <preference name="phonegap-version" value="3.3.0" />
  <preference name="Fullscreen" value="true" />
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="webviewbounce" value="false" />
  <preference name="auto-hide-splash-screen" value="false" />

  <gap:splash src="splash.png" />
  <gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
  <gap:plugin name="org.li8.inappbrowser" />
  <!-- plugin for external links
  
  <gap:plugin name="com.phonegap.plugin.statusbar" />-->
  
  <!-- android features so all features won't be enabled-->
  <feature name="http://api.phonegap.com/1.0/network" />
  
  

</widget>

